* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

.headercontainer {
	margin: 15px;
	min-width: 400px;
	height: fit-content;
}

.headercontainer header {
	width: 100%;
	height: 10%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.headercontainer header h3 {
	margin-left: 45px;
	font-weight: 700;
	text-decoration: none; /* 링크의 밑줄 제거 */
	color: inherit; /* 링크의 색상 제거 */
}

.headercontainer header h3 a {
	color: #192f61;
}

.headercontainer header h3 a:hover {
	text-decoration: none; /* 링크의 밑줄 제거 */
}

.headercontainer header nav {
	margin-right: 45px;
}

.headercontainer header nav a {
	text-decoration: none;
	margin-left: 30px;
	color: black;
	font-weight: 500;
	font-size: 14px;
}

.headercontainer header nav a:hover {
	color: #0a7791;
}

.headercontainer header nav .login {
	border-left: 1px solid grey;
	padding-left: 20px;
}